<div class="container-fluid">
    <form name="prodEntry" data-ng-submit="addNewProduct(prodEntry.$valid)" novalidate>
        <div class="panel panel-primary">
            <div class="panel-heading"><strong class="heading">Products Entry Form</strong></div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="input-group" data-ng-class="{'has-error':!prodEntry.pcode.$valid 
                                                            && (!prodEntry.pcode.$pristine || prodEntry.$submitted),
                                        'has-success':prodEntry.pcode.$valid 
                                                            && (!prodEntry.pcode.$pristine || prodEntry.$submitted) }"> 
                        <span class="input-group-addon" id="lblpcode">Code</span>
                        <input type="text" class="form-control" name="pcode" placeholder="product code" data-ng-model="newProduct.ProductCode" required> </div>
                </div>
                <p class="help-block error" data-ng-show="prodEntry.pcode.$error.required 
                                                          && (!prodEntry.pcode.$pristine || prodEntry.$submitted)"> 
                    Product Codes should not empty!</p>
                
                <div class="form-group" data-ng-class="{'has-error':!prodEntry.pname.$valid 
                                                       && (!prodEntry.pname.$pristine || prodEntry.$submitted),
                                        'has-success':prodEntry.pname.$valid 
                                                       && (!prodEntry.pname.$pristine || prodEntry.$submitted)}">
                    <div class="input-group"> <span class="input-group-addon" id="productname">Name</span>
                        <input type="text" class="form-control" name="pname" placeholder="product name" data-ng-model="newProduct.FriendlyName" required> </div>
                </div>
                <p class="help-block error" data-ng-show="prodEntry.pname.$error.required 
                                                          && (!prodEntry.pname.$pristine || prodEntry.$submitted)"> 
                    Product Names should not empty!</p>
                <div class="form-group">
                    <label for="ProductDescription">Product Description</label>
                    <textarea class="form-control" id="ProductDescription" rows="3" data-ng-model="newProduct.Description" placeholder="product description"></textarea>
                </div>
                <div class="form-group">
                    <div class="input-group" data-ng-class="{'has-error':!prodEntry.barcode.$valid 
                                                            && (!prodEntry.barcode.$pristine || prodEntry.$submitted), 
                                                        'has-success':prodEntry.barcode.$valid 
                                                            && (!prodEntry.barcode.$pristine || prodEntry.$submitted)}"> <span class="input-group-addon" id="lblbarcode">Barcode</span>
                        <input type="text" class="form-control" name="barcode" placeholder="barcode" data-ng-model="newProduct.BarCode" required> </div>
                </div>
                <div class="input-group" data-ng-class="{'has-error':!prodEntry.qty.$valid 
                                                        && (!prodEntry.qty.$pristine || prodEntry.$submitted),
                                                        'has-success':prodEntry.qty.$valid 
                                                        && (!prodEntry.qty.$pristine || prodEntry.$submitted)}"> 
                    <span class="input-group-addon" id="lblqty">Qty</span>
                    <input type="number" class="form-control" name="qty" placeholder="qty" data-ng-model="newProduct.Qty"> </div>
                
                <p class="help-block error" data-ng-show="prodEntry.qty.$error.number 
                                                          && (!prodEntry.qty.$pristine || prodEntry.$submitted)"> 
                    Enter numbers only!</p>
            </div>
            
            <div class="panel-footer">
                <div class="btn-group" role="group" aria-label="ActionButtons">
                    <button type="submit" class="btn btn-primary" id="btnNewProductSave">{{btnNewProductSave}}</button> <a href="#!/productslist" type="button" class="btn btn-primary" id="btnNewProductCancel">{{btnNewProductCancel}}</a> </div>
            </div>
        </div>
    </form>
</div>