<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading"><span class="panel-title">Products List</span></div>
        <div class="panel-body">
            <div>
                Search
            </div>
            <div>
                <table class="table table-condensed table-hover">
                <thead>
                    <th>Barcode</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Qty</th>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in products">
                        <td>{{item.BarCode}}</td>
                        <td>{{item.ProductCode}}</td>
                        <td>{{item.FriendlyName}}</td>
                        <td>{{item.Description}}</td>
                        <td>{{item.Qty}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
    
    <div>
        
    </div>
</div>